<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="reset.css" media="screen" title="no title">
    <link rel="stylesheet" href="contactStyle.css" media="screen" title="no title">
    <title>Cat Page</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div id="menuButtons">
          <ul>
            <li><div class="button"><a href="index.html" class="button">HOME</a></div></li>
            <li><div class="button"><a href="#" class="button">ABOUT</a></div></li>
            <li><div class="button"><a href="#" class="button">CONTACT</a></div></li>
          </ul>
        </div>
        <div id="socialMediaIcons">
          <ul id="iconUl">
            <li><div class="icon"><a href="#"><img id="Facebook" src="../Resources/Images/1493167447_facebook_square.png" alt="" /></div></a> <!-- Facebook Icon --></li>
            <li><div class="icon"><a href="#"><img id="Twitter" src="../Resources/Images/1493168024_twitter_square.png" alt="" /></a></div> <!-- Twitter Icon --></li>
            <li><div class="icon"><a href="#"><img id="Instagram" src="../Resources/Images/1493167987_Instagram.png" alt="" /></a></div><!-- Instagram Icon --></li>
            <li><div class="icon"><a href="#"><img id="LinkedIn" src="../Resources/Images/1493168141_linkedin_square_color.png" alt="" /></a></div><!-- LinkedIn Icon --></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="catDiv">
          <img id="contactCat" src="../Resources/Images/contact-cat.jpeg" alt="" />
          <div class="catTxt">
            <h1>CAT CHAT!</h1>
          </div>
          <div class="inputDiv">
            <h1>Let's Talk About Cats!</h1>
            <hr>
            <form class="" action="index.html" method="post">
              Name: <input type="text" name="name" value="">
              E-Mail: <input type="text" name="name" value="">
              Subject: <input type="text" name="name" value="">
              Message: <input type="text" name="name" value="">
            </form>
            <div class="button">
              <h2>CONTACT US</h2>
            </div>
          </div>
        </div>
      <div class="footer">
        <p>Copyright 2016 &copy; The Kitties, kitty@kitty.cat</p>
      </div>
    </div>
  </body>
</html>
