<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="reset.css" media="screen" title="no title">
    <link rel="stylesheet" href="style.css" media="screen" title="no title">
    <title>Cat Page</title>

  </head>
  <body>
    <header>
      <div class="headerMenu">
        <ul class="menuButtons">
          <li><div class="headerMenuButton" id="home">
            <a class="menuButtons" href="#">HOME</a>
          </div></li>
          <li><div class="headerMenuButton" id="about">
            <a class="menuButtons" href="#">ABOUT</a>
          </div></li>
          <li><div class="headerMenuButton" id="contact">
            <a class="menuButtons" href="#">CONTACT</a>
          </div></li>
        </ul>
        <ul class="socialMediaIcons">
          <li><img id="Facebook" src="../Resources/Images/1493167447_facebook_square.png" alt="" /> <!-- Facebook Icon --></li>
          <li><img id="Twitter" src="../Resources/Images/1493168024_twitter_square.png" alt="" /> <!-- Twitter Icon --></li>
          <li><img id="Instagram" src="../Resources/Images/1493167987_Instagram.png" alt="" /> <!-- Instagram Icon --></li>
          <li><img id="LinkedIn" src="../Resources/Images/1493168141_linkedin_square_color.png" alt="" /> <!-- LinkedIn Icon --></li>
        </ul>
      </div>
    </header>
    <div class="mainPictureInfo">
      <img src="../Resources/Images/top-kitten.jpeg" alt="" />
      <div class="sideText">
        <h2>Cats in Baskets</h2>
        <hr>
        <p class="menuText">We've all heard about The Cat in the Hat, but what about cats in baskets? Well, I would never want to ignore those, so here is a little collection of some cats in baskets!</p>
        <div class="moreButton">
          <h3>MORE</h3>
        </div>
      </div>
      <div class="circles">
        <ul>
          <li><div class="filledCircle"></div></li>
          <li><div class="emptyCircle"></div></li>
          <li><div class="emptyCircle"></div></li>
          <li><div class="emptyCircle"></div></li>
          <li><div class="emptyCircle"></div></li>
          <li><div class="emptyCircle"></div></li>
        </ul>
      </div>
    </div>
    <div class="">

    </div>
    <div class="smallArticle" id="smallArticle1">
      <div class="smallArticleImage">
        <img src="../Resources/Images/item-cat.jpeg" alt="" />
      </div>
      <div class="smallArticleText">
        <h3>Black &amp; White Kitty</h3>
        <hr>
        <p>
          June 8, 2016
        </p>
        <p>
          Location: The Wood Shed
        </p>
        <br>
        <p>
          This picture of the cat was taken out by the wood shed. Look at his fuzzy face! He looks so cool and artsy in black and white, but still so cute!
        </p>
      </div>
    </div>
    <div class="smallArticle" id="smallArticle2">
      <div class="smallArticleImage">
        <img src="../Resources/Images/item-cat-2.jpeg" alt="" />
      </div>
      <div class="smallArticleText">
        <h3>Kitten on the Counter</h3>
        <hr>
        <p>
          June 3, 2016
        </p>
        <p>
          Location: My Bathroom
        </p>
        <br>
        <p>
          He's striped! Look at his little pink nose, it's so cute! And the whiskers! D'awww... Don't you wanna just scratch behind his little ears?
        </p>
      </div>
    </div>
    <div class="smallArticle" id="smallArticle3">
      <div class="smallArticleImage">
        <img src="../Resources/Images/item-cat-3.jpeg" alt="" />
      </div>
      <div class="smallArticleText">
        <h3>Feline for You</h3>
        <hr>
        <p>
          May 30, 2016
        </p>
        <p>
          Location: My Bathroom
        </p>
        <br>
        <p>
          I didn't even know kittens could have blue eyes! He's fuzzier than usual, and is just a little baby!
        </p>
      </div>
    </div>
    <footer>
      <div class="copyrightFooter">
        <p>
          Copyright 2016 &copy; The Kitties, kitty@kitty.cat
        </p>
      </div>
    </footer>
  </body>
</html>
