<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="reset.css" media="screen" title="no title">
    <link rel="stylesheet" href="indexStyle.css" media="screen" title="no title">
    <title>Cat Page</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div id="menuButtons">
          <ul>
            <li><div class="button"><a href="#">HOME</a></div></li>
            <li><div class="button"><a href="#">ABOUT</a></div></li>
            <li><div class="button"><a href="#">CONTACT</a></div></li>
          </ul>
        </div>
        <div id="socialMediaIcons">
          <ul id="iconUl">
            <li><div class="icon"><a href="#"><img id="Facebook" src="../Resources/Images/1493167447_facebook_square.png" alt="" /></div></a> <!-- Facebook Icon --></li>
            <li><div class="icon"><a href="#"><img id="Twitter" src="../Resources/Images/1493168024_twitter_square.png" alt="" /></a></div> <!-- Twitter Icon --></li>
            <li><div class="icon"><a href="#"><img id="Instagram" src="../Resources/Images/1493167987_Instagram.png" alt="" /></a></div><!-- Instagram Icon --></li>
            <li><div class="icon"><a href="#"><img id="LinkedIn" src="../Resources/Images/1493168141_linkedin_square_color.png" alt="" /></a></div><!-- LinkedIn Icon --></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div id="bigpic">
          <img id="mainKitten" src="../Resources/Images/top-kitten.jpeg" alt="" />
          <div id="circles">
            <ul>
              <li><div id="filledCircle"></div></li>
              <li><div class="emptyCircle"></div></li>
              <li><div class="emptyCircle"></div></li>
              <li><div class="emptyCircle"></div></li>
              <li><div class="emptyCircle"></div></li>
              <li><div class="emptyCircle"></div></li>
            </ul>
        </div>
        <div id="sidetext">
          <h2>Cats in Baskets</h2>
          <hr>
          <br>
          <p>We've all heard about The Cat in the Hat, but what about cats in baskets? Well, I would never want to ignore those, so here is a little collection of some cats in baskets!</p>
          <br>
          <div id="moreButton">
            <h3>MORE</h3>
          </div>
        </div>
      </div>
      <div class="sidebar">
        <div id="separator">
          <h2></h2>
          <hr>
        </div>
        <div id="articleSet1">
          <div id="articlePic1">
            <img src="../Resources/Images/item-cat.jpeg" alt="" />
          </div>
          <div id="articleText1">
            <h3>Black &amp; White Kitty</h3>
            <hr>
            <p>June 8, 2016</p>
            <p>Location: The Wood Shed</p>
            <br>
            <p>This picture of the cat was taken out by the wood shed. Look at his fuzzy face! He looks so cool and artsy in black and white, but still so cute!</p>
          </div>
        </div>
        <div id="articleSet2">
          <div id="articlePic2">
            <img src="../Resources/Images/item-cat-2.jpeg" alt="" />
          </div>
          <div id="articleText2">
            <h3>Kitten on the Counter</h3>
            <hr>
            <p>June 3, 2016</p>
            <p>Location: My Bathroom</p>
            <br>
            <p>He's striped! Look at his little pink nose, it's so cute! And the whiskers! D'awww... Don't you wanna just scratch behind his little ears?</p>
          </div>
        </div>
        <div id="articleSet3">
          <div id="articlePic3">
            <img src="../Resources/Images/item-cat-3.jpeg" alt="" />
          </div>
          <div id="articleText3">
            <h3>Feline for You</h3>
            <hr>
            <p>May 30, 2016</p>
            <p>Location: My Bathroom</p>
            <br>
            <p>I didn't even know kittens could have blue eyes! He's fuzzier than usual, and is just a little baby!</p>
          </div>
        </div>
      </div>
      <div class="footer">
        <p>Copyright 2016 &copy; The Kitties, kitty@kitty.cat</p>
      </div>
    </div>
  </body>
</html>
