<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="reset.css" media="screen" title="no title">
    <link rel="stylesheet" href="indexStyle.css" media="screen" title="no title">
    <title>Cat Page</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div id="menuButtons">
          <ul>
            <li><div class="button"><a href="#" class="button">HOME</a></div></li>
            <li><div class="button"><a href="#" class="button">ABOUT</a></div></li>
            <li><div class="button"><a href="contact.html" class="button">CONTACT</a></div></li>
          </ul>
        </div>
        <div id="socialMediaIcons">
          <ul id="iconUl">
            <li><div class="icon"><a href="#"><img id="Facebook" src="../Resources/Images/1493167447_facebook_square.png" alt="" /></div></a> <!-- Facebook Icon --></li>
            <li><div class="icon"><a href="#"><img id="Twitter" src="../Resources/Images/1493168024_twitter_square.png" alt="" /></a></div> <!-- Twitter Icon --></li>
            <li><div class="icon"><a href="#"><img id="Instagram" src="../Resources/Images/1493167987_Instagram.png" alt="" /></a></div><!-- Instagram Icon --></li>
            <li><div class="icon"><a href="#"><img id="LinkedIn" src="../Resources/Images/1493168141_linkedin_square_color.png" alt="" /></a></div><!-- LinkedIn Icon --></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div id="bigpic">
          <img id="mainKitten" src="../Resources/Images/top-kitten.jpeg" alt="" />
          <div id="circles">
            <ul class="circle">
              <li class="emptyCircle" id="filledCircle"></li>
              <li class="emptyCircle"></li>
              <li class="emptyCircle"></li>
              <li class="emptyCircle"></li>
              <li class="emptyCircle"></li>
              <li class="emptyCircle"></li>
            </ul>
        </div>
        <div id="sidetextBox">
        </div>
        <div id="sidetext">
          <h2 class="sidetext">Cats in Baskets</h2>
          <hr>
          <br>
          <br>
          <p class="sidetext">We've all heard about The Cat in the Hat, but what about cats in baskets? Well, I would never want to ignore those, so here is a little collection of some cats in baskets!</p>
          <br>
        </div>
        <div id="moreButton">
          <h3 id="moreButton">MORE</h3>
        </div>
      </div>
      <div class="sidebar">
        <div id="separator">
          <h2>Recent Kitty Cats</h2>
          <hr id="blackhr">
        </div>
        <div class="articleSet">
          <div class="articlePic">
            <img class="articlePic" src="../Resources/Images/item-cat.jpeg" alt="" />
          </div>
          <div class="articleText">
            <h2>Black &amp; White Kitty</h2>
            <hr class="left">
            <br>
            <h3>June 8, 2016</h3>
            <h3>Location: The Wood Shed</h3>
            <br><br>
            <h3>This picture of the cat was taken out by the wood shed. Look at his fuzzy face! He looks so cool and artsy in black and white, but still so cute!</h3>
          </div>
        </div>
        <div class="articleSet">
          <div class="articlePic">
            <img class="articlePic" src="../Resources/Images/item-cat-2.jpeg" alt="" />
          </div>
          <div class="articleText">
            <h2>Kitten on the Counter</h2>
            <hr class="left">
            <br>
            <h3>June 3, 2016</h3>
            <h3>Location: My Bathroom</h3>
            <br><br>
            <h3>He's striped! Look at his little pink nose, it's so cute! And the whiskers! D'awww... Don't you wanna just scratch behind his little ears?</h3>
          </div>
        </div>
        <div class="articleSet">
          <div class="articlePic">
            <img class="articlePic" src="../Resources/Images/item-cat-3.jpeg" alt="" />
          </div>
          <div class="articleText">
            <h2>Feline for You</h2>
            <hr class="left">
            <br>
            <h3>May 30, 2016</h3>
            <h3>Location: My Bathroom</h3>
            <br>
            <br>
            <h3>I didn't even know kittens could have blue eyes! He's fuzzier than usual, and is just a little baby!</h3>
          </div>
          </div>
        </div>
      <div class="footer">
        <p>Copyright 2016 &copy; The Kitties, kitty@kitty.cat</p>
      </div>
    </div>
  </body>
</html>
