p {
  font-family: Helvetica;
  font-weight: lighter;
}

h2 {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 1.5em;
}

h3 {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 1em;
}

@font-face {
  font-family: Droid-Sans-Bold;
  src: url(../Resources/Font/droid-sans/DroidSans-Bold.ttf);
}

li {
  display: inline-block;
}

.wrapper {
  width: 1000px;
  background-color: black;
  position: relative;
  margin: 0 auto;
}

.header {
  width: 1000px;
  height: 75px;
  background-color: grey;
}

.content {
  width: 1000px;
  position: relative;
  overflow: hidden;
}
#bigpic {
  overflow: hidden;
  width: 100%;
  position: relative;
}
#mainKitten {
  width: 1000px;
}
#sidetext{
  width: 300px;
  position: absolute;
  opacity: 0.7;
}
.sidebar {
  width: 1000px;
  position: relative;
}
.footer {
  width: 1000px;
}
a {
  text-decoration: none;
}

#iconUl {
    float: right;
}

.button {
  border-style: solid;
  border-top-width: 10px;
  border-color: #000000;
  font-size: 1em;
  font-family: Droid-Sans-Bold;
  color: #878787;
  padding: 20px 10px 20px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: -4px;
}

.button:hover {
    border-color: #E00000;
    color: #FFFFFF;
}
#menuButtons {
  float: left;
  width: 500px;

}

#socialMediaIcons {
  float: right;
  width: 500px;
}

#Facebook {
  zoom: 8%;
}
#Twitter {
  zoom: 32%;
}
#Instagram {
  zoom: 44%;
  margin: -17%;
  margin-right: -35px;
}
#LinkedIn {
  zoom: 33%;
}
